@font-face {
  font-family: "josefinsans"; 
  src:url("fonts/josefinsans.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal;
}
body{
	font-family: josefinsans;
	color: #000;
	margin: 0 auto;
	width: 90%;	
}
img{
	width: 180px;
}
.img{
	width: 60px;
}
.logo-banner{
	background: #f2f2f2;
	height: 5%;
	padding: 10px 5px 10px 5px;

}
h1{
	float: right;
	margin: 0 45% 50px 0;
}
h2{
	margin: 70px 10px 10px 10px;
}
h3{
	display: inline-block;
	margin: 10px 20px 10px 20px;
}
h1 h3{
    padding: 10px 10px 10px 10px;
	float: right;
	margin: auto;
    font-size: 26px;
    display: inline-block;
}

.menu{
	display: inline-block;
	height: 50px;
	width: 60%;
	
	
}
.button{
	color: #000;
	text-decoration: none;
	margin: 10px 60px 10px 60px;	
}
.content{
	height: 62em;
	
}
.text{
	width: 60%;
}
.news{
	position: relative;
	bottom: 300px; 
	float: right;
	width: 30%;
}
.news.img{
	width: 180px;
}
.button-footer{
	
	color: #000;
	text-decoration: none;
	padding: 10px 20px 10px 20px;
	float: right;
	position: relative;
	right: 30%;
	bottom: 40px;

}
.footer{
	background: #f2f2f2;
	height: 5%;
}
.name{
	color: #696969;
	float: right;
	position: relative;
	left: 630px;
	bottom: -50px;

}