@font-face {
  font-family: "josefinsans"; 
  src:url("fonts/josefinsans.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal;
}
body{	 
  color: white; 
  margin: 0;
  font-family: josefinsans;

}
.white-background{
	background: #fff;
	color: #000;
}
.dark-background{
  background: #000;
}
img{
	height: 208px;
	width: 208px;
}
.underscore{
  display: inline;
  border-bottom: 12px solid #EC6041;
}
h1{
	font-size: 86px;
}
h2{
	font-size: 35px;
	padding: 0 24px 0;
	
}
.p-dark{
	color: #4e4e4e;
}
p{
	font-size: 16px;
	color: #d0d0d0;
	padding: 0 24px 0;
}
.h3-dark{
	color: #777;
}
h3{
	color: #d0d0d0;
	font-size: 18px;
}
.text{
  margin-top: -25px;
  float: right;  
}
.banner{
  margin-top: 50px;
  text-align: center;
  width: 1360px;
  margin: 0px auto 0;
}

.my-flex-container{
  display: flex;
  width: 1360px;
  margin: 100px 200px 0 400px;
}
.button{
  margin-top: 200px;
  padding: 0 24px 5px;
  height: 20px;
  width: 144px;
  text-decoration:none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 12px;
  position: relative;
  left: 235px;
  right: 0px;
  top: -50px;
  bottom: 0px;
  background: #EC6041;
  box-shadow: 4px 4px 0px #F1876F, 8px 8px 0px #F5AE9E;
  margin: 0px 0px;
}
